@if (Convert.ToInt32(Session["rol"]) != 2 || Session["validate"] == null)
{

    <script>
            document.location.href = "@Url.Content("~/Login/Index")";
    </script>

}


@model  List<APP_NETLINK.Models.TableViewModels.MovieTableViewModel>

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<body>
    <main>
        <section class="py-5 text-center container">

            <div class="album py-5 bg-light">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                        @foreach (var oElemento in Model)
                        {

                            <div class="col">
                                <div class="card shadow-sm h-100">
                                    <iframe width="100% height="300px" src=@oElemento.enlace frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="card-body">
                                        <p class="card-text">
                                            @oElemento.descripcion
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <form action="" method="post" class="frm_showmovie">
                                                    <input type="hidden" value="@oElemento.id" name="idPelicula" />
                                                    <input type="submit" class="btn btn-sm btn-outline-secondary" value="Ver más tarde">
                                                </form>                                                
                                                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location.href='@Url.Content("~/Movie/ShowMovie/"+@oElemento.id)'">Ver detalles</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>



@section scripts{
    <script>
            $(document).ready(
                function () {
                    $(".frm_showmovie").submit(function(e){
                        e.preventDefault();
                        url = "@Url.Content("~/ShowMovie/ShowMovieInsert")"
                        parametros = $(this).serialize();


                        alert(parametros);
                        $.post(url, parametros, function (data) {
                            if (data == "True") {
                                    swal({
                                    title: "Acción completada",
                                    text: "Registro completado con éxito.",
                                    type: "success",
                                    });
                            } else {
                                    swal({
                                    title: "Error al ingresar los datos",
                                    text: "La pelicula ya esta agregada a tu lista...",
                                    type: "warning",
                                    });
                            }
                        })
                    })
                }
            )
    </script>
}
