@if (Convert.ToInt32(Session["rol"]) != 1 || Session["validate"] == null)
{
    <script>
            document.location.href = "@Url.Content("~/Login/Index")";
    </script>
}


@using APP_NETLINK.Models;
@using APP_NETLINK.Models.TableViewModels;
@using APP_NETLINK.Models.ViewModels;
@using APP_NETLINK.Controllers;

@model APP_NETLINK.Models.ViewModels.EditMovieViewModel

@{
    ViewBag.Title = "Actualizar datos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row mt-3">

    <div class="col-md-12">

        <div class="card w-75 mx-auto">

            <div class="card-header bg-primary font-weight-bolder">

                <p class="text-center text-monospace font-weight-bolder"><i class="fas fa-video" style="margin-right:10px;"></i>Actualizar Datos :: Peliculas</p>

            </div>
            <div class="card-body">


                <form class="form-control" id="frm_movie" method="post" action="">


                    @Html.AntiForgeryToken()
                    @Html.ValidationMessage("error", new { @class = "text-danger" })
                    @Html.TextBoxFor(data => data.id, new { @class = "d-none" });


                    <div class="form-group row ml-3">
                        <div class="col-md-5">
                            @Html.LabelFor(data => data.titulo)
                            @Html.TextBoxFor(data => data.titulo, new { @class = "form-control" })
                        </div>

                        <div class="col-md-5">
                            @Html.LabelFor(data => data.enlace)
                            @Html.TextBoxFor(data => data.enlace, new { @class = "form-control" })
                        </div>

                    </div>

                    <div class="form-group row ml-3">
                        <div class="col-md-5">
                            @Html.LabelFor(data => data.id_genero)

                            @{
                                List<GenderTableViewModel> lst2 = null;
                            }

                            @using (BD_NETLINKEntities1 bd = new BD_NETLINKEntities1())
                            {

                                lst2 = (from data in bd.genero

                                        select new GenderTableViewModel
                                        {
                                            id = data.Id_genero,
                                            genero = data.nombre
                                        }
                                ).ToList();
                            }

                            <select class=" form-control" name="gender">
                                @foreach (var oElemento in lst2)
                                {


                                    <option value="@oElemento.id"> @oElemento.genero</option>

                                }
                            </select>
                        </div>


                        <div class="col-md-5">
                            @Html.LabelFor(data => data.id_categoria)

                            @{
                                List<CategoryTableViewModel> lstCat = null;
                            }

                            @using (BD_NETLINKEntities1 bd = new BD_NETLINKEntities1())
                            {

                                lstCat = (from data in bd.Categoria

                                          select new CategoryTableViewModel
                                          {
                                              id = data.Id_Categoria,
                                              categoria = data.nombre
                                          }
                                ).ToList();
                            }

                            <select class=" form-control" name="category">
                                @foreach (var oElemento in lstCat)
                                {

                                    <option value="@oElemento.id"> @oElemento.categoria</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row ml-3">
                        <div class="col-md-5 ">
                            @Html.LabelFor(data => data.id_pais)


                            @{
                                List<CountryTableViewModel> lstCountry = null;

                                MovieController objMovie = new MovieController();
                                lstCountry = objMovie.Country();
                            }

                            <select class=" form-control" name="country">
                                @foreach (var oElemento in lstCountry)
                                {

                                    <option value="@oElemento.id"> @oElemento.pais</option>

                                }
                            </select>
                        </div>


                        <div class="col-md-5">
                            @Html.LabelFor(data => data.id_idioma)

                            @{
                                List<LanguajeTableViewModel> lstLanguaje = null;

                                MovieController objML = new MovieController();
                                lstLanguaje = objMovie.Languaje();
                            }

                            <select class=" form-control" name="languaje">
                                @foreach (var oElemento in lstLanguaje)
                                {

                                    <option value="@oElemento.id"> @oElemento.idioma</option>

                                }
                            </select>
                        </div>
                    </div>



                    <div class="form-group row ml-3">


                        <div class="col-md-5">

                            @Html.LabelFor(data => data.id_director)

                            @{
                                List<DirectorTableViewModel> lst = null;
                            }

                            @using (BD_NETLINKEntities1 bd = new BD_NETLINKEntities1())
                            {

                                lst = (from data in bd.director

                                       select new DirectorTableViewModel
                                       {
                                           id = data.Id_director,
                                           director = data.nombre
                                       }
                                ).ToList();
                            }

                            <select class=" form-control" name="director" id="director">
                                @foreach (var oElemento in lst)
                                {

                                    <option value="@oElemento.id"> @oElemento.director</option>

                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row ml-3">
                        <div class="col-md-8 ">
                            @Html.LabelFor(data => data.descripcion)
                            @Html.TextAreaFor(data => data.descripcion, new { @class = "form-control" })
                        </div>
                    </div>


            </div>
            <div class="card-footer">

                <div class="form-group row">
                    <div class="col-md-12">
                        <input type="submit" name="" value="Guardar" class="btn btn-primary float-right" />
                    </div>
                </div>
                </form>

            </div>

        </div>

    </div>

</div>


@section scripts{
    <script>
            $(document).ready(
                function () {
                    $("#frm_movie").submit(function(e){
                        e.preventDefault();
                        url = "@Url.Content("~/Movie/Update")"
                        parametros = $(this).serialize();

                        $.post(url, parametros, function (data) {
                            if (data == "True") {
                                    swal({
                                    title: "Acción completada",
                                    text: "Registro completado con éxito.",
                                    type: "success",
                                    });
                            } else {
                                    swal({
                                    title: "Error al ingresar los datos",
                                    text: "Intentelo de nuevo...",
                                    type: "warning",
                                    });
                            }
                        })
                    })
                }
            )
    </script>
}
